@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* !Global CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  background: url("https://assets.codepen.io/6060109/ZigZag.png");
  background-size: cover;
  display: flex;
  min-width: 100%;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

/* !Container Setup and Positioning */
.desktop-container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.choose-dish {
  display: none;
  margin-right: -10px;
}

.order-tracking {
  display: none;
  margin-left: -10px;
}

.order-container {
  width: 327px;
  width: 350px;
  height: 567px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 40px 40px -20px #3c7b61;
  position: relative;
}

.order-container-active {
  width: 370px;
  height: 610px;
  box-shadow: 0px 40px 40px -20px #3c7b61;
  position: relative;
  z-index: 9;
}

/* !Interior Element Styling */
.close-icon {
  position: absolute;
  top: 15px;
  right: 15px;
}

.inner-container {
  padding-top: 0.1px;
}

.main-image {
  display: block;
  margin: 50px auto 30px auto;
}

.hamburger {
  width: 32%;
  /* margin-bottom: 50px; */
}

.title {
  font-size: 22px;
  font-family: Montserrat;
  font-weight: 600;
  color: #2f463d;
  text-align: center;
  padding: 0 15% 0 15%;
}

.text {
  font-size: 14px;
  font-family: Ubuntu, sans-serif;
  font-weight: 400;
  color: #828282;
  line-height: 26px;
  margin: 20px 35px;
  text-align: center;
}

.choose-text {
  margin-top: 40px;
}

.order-box {
  display: flex;
  justify-content: center;
  position: relative;
  font-family: Montserrat;
}

.order-text {
  width: 67%;
  background-color: #f0fff5;
}

h5 {
  font-size: 14px;
}
.order-text {
  font-weight: 800;
  color: #2f463d;
  line-height: 17px;
  padding: 15px 15px;
}

.order-text p {
  font-weight: 500;
  font-size: 14px;
  color: #7a8f85;
  line-height: 25px;
}

.change-link:link,
.change-link:visited {
  display: block;
  position: absolute;
  top: 25px;
  right: 50px;
  font-size: 13px;
  font-weight: 650;
  color: #467a66;
}

/* !Button Styling and Positioning*/
.confirmation-button-hover {
  display: none;
}

button {
  background-color: #46a67e;
  border: none;
  width: 279px;
  height: 50px;
  border-radius: 5px;
  font-family: Montserrat;
  font-weight: 800;
  font-size: 15px;
  color: #fff;
  display: block;
  /* margin: 30px auto; */
  position: absolute;
  bottom: 13%;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0px 20px 20px rgba(103, 189, 153, 0.2);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  transition: 0.3s ease all;
}

button:hover {
  opacity: 0.8;
  cursor: pointer;
  transition: 0.3s ease all;
}

button:hover .confirmation-button-hover {
  display: inline;
}
button:hover .confirmation-button {
  display: none;
}

.button-gray {
  background-color: #bdbdbd;
  box-shadow: 0px 20px 20px rgba(167, 167, 167, 0.2);
  margin-top: 80px;
  margin-bottom: 50px;
  position: absolute;
  bottom: 5%;
}

.button-track {
  margin-top: 70px;
}

/* !Dot Styling and Positioning */
#dot {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
}

.dot {
  height: 7px;
  width: 7.29px;
  margin: 10px;
  background-color: #e0e0e0;
  border-radius: 50%;
}

.green {
  background-color: #67bd99;
}

/* !Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .choose-dish {
    display: block;
    order: -1;
  }

  .order-tracking {
    display: block;
  }
}
